/* Estilos adicionales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 36px; /* Tamaño de fuente más grande para el título */
    margin: 20px 0;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    padding-left: 20px; /* Añadir espacio a la izquierda para los botones */
    position: relative;
}

.oe_menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.oe_menu li {
    margin: 10px 0;
}

.oe_menu a, .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; /* Define el tamaño fijo del botón */
    height: 150px; /* Define el tamaño fijo del botón */
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.oe_menu a:hover, .menu-button:hover {
    background-color: #0056b3;
}

/* Posicionamiento de los botones */
.oe_menu {
    position: fixed;
    top: 50%; /* Ajusta los botones al centro vertical de la pantalla */
    left: 20px; /* Mueve los botones hasta el borde izquierdo */
    transform: translateY(-50%);
}

.right-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media (max-width: 768px) {
    .oe_menu {
        top: 50%;
        left: 10px; /* Mueve los botones hasta el borde izquierdo en dispositivos más pequeños */
        transform: translateY(-50%);
    }

    .oe_menu a, .menu-button {
        width: 120px; /* Ajusta el tamaño del botón para dispositivos más pequeños */
        height: 120px; /* Ajusta el tamaño del botón para dispositivos más pequeños */
        font-size: 16px;
    }

    .right-menu {
        bottom: 10px;
        right: 10px;
    }
}
